<?xml version="1.0" encoding="utf-8"?>
<Druid>
  <!--Common class settings template-->
  <ShowUI>... always</ShowUI>
  <SmartEatDrink>... always</SmartEatDrink>
  <RAFTarget>... always</RAFTarget>
  <HealPartyMembers>... always</HealPartyMembers>
  <Debug>... do not show debug</Debug>
  <PotionMana>20</PotionMana>
  <RestMana>45</RestMana>
  <RestHealth>45</RestHealth>
  <CombatTimeout>300</CombatTimeout>
  <Cleanse>... only out of combat</Cleanse>

  <!--Class specific settings everything below here-->
  
  <!--Healing-->
  <Regrowth>... always</Regrowth>
  <RegrowthHealth>60</RegrowthHealth>
  <HealingTouch>... always</HealingTouch>
  <HealingTouchHealth>50</HealingTouchHealth>
  <InnervateMana>30</InnervateMana>
  
  <!--Balance Settings-->
  <PullBalance>Automatic</PullBalance>
  <FaerieFireBalance>... never</FaerieFireBalance>
  <InsectSwarm>... always</InsectSwarm>
  <Moonfire>... always</Moonfire>
  <PrimaryDPSSpell>Automatic</PrimaryDPSSpell>
  <Starsurge>... always</Starsurge>
  <ForceOfNature>... only on adds</ForceOfNature>
  
  <!--Feral Settings-->
  <PullFeral>Automatic</PullFeral>
  <AttackEnergy>60</AttackEnergy>
  <FaerieFireFeral>... only in battlegrounds</FaerieFireFeral>
  <Rake>... always</Rake>
  <SkullBash>... always</SkullBash>
  <TigersFury>... always</TigersFury>
  <SavageRoar>... 1-2 combo point</SavageRoar>
  <Swipe>... only on adds (60+ Energy)</Swipe>
  <Thrash>... only on adds</Thrash>
  <Rip>... never</Rip>
  <Maim>... only in battlegrounds</Maim>
  <FerociousBite>... 4-5 combo point</FerociousBite>
  <BearForm>... only on adds</BearForm>
  
  <!--Travel Form Settings-->
  <TravelForm>... always</TravelForm>
  <TravelFormMinDistance>100</TravelFormMinDistance>
  <TravelFormHostileRange>60</TravelFormHostileRange>
</Druid>